
<% if current_user == @host %>
<%=form_for message, remote: true, class: 'd-flex justify-content-center', authenticity_token: true do |f|%>

  <%= f.hidden_field :chatroom_id, value: chatroom.id %>
  <%= f.submit "New Question", class: "btn-xlarge btn-primary", alt: "Max-width 100%", data: {send: "message"}%>
<%end%>
<div class="d-flex justify-content-center"> </div>
  <% else %>
<%=form_for message, remote: true, class: 'd-flex justify-content-center', authenticity_token: true do |f|%>

  <%= f.hidden_field :chatroom_id, value: chatroom.id %>
  <%= f.submit "Buzz", class: "btn-xlarge btn-danger", alt: "Max-width 100%", data: {send: "message"}%>
<%end%>
<div class="d-flex justify-content-center"> </div>
<% end %>